<.header>
  New Channel
  <:subtitle>Use this form to manage channel records in your database.</:subtitle>
</.header>

<.channel_form changeset={@changeset} action={~p"/media_sources/channels"} />

<.back navigate={~p"/media_sources/channels"}>Back to channels</.back>
