services:
  phx:
    build:
      context: .
      dockerfile: ./docker/dev.Dockerfile
    volumes:
      - '.:/app'
    ports:
      - '4008:4008'
    command: bash -c "chmod +x docker/docker-run.dev.sh && docker/docker-run.dev.sh"
    stdin_open: true
    tty: true
    environment:
      - ROUTE_SECRET=J8vaF1t
