version: '3'
services:
  phx:
    build:
      context: .
      dockerfile: ./dev.Dockerfile
    volumes:
      - '.:/app'
    ports:
      - '4008:4008'
    command:
      - ./docker/docker-run.dev.sh
    stdin_open: true
    tty: true
    env_file:
      - .env
