<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  <div class="max-w-full overflow-x-auto">
    <div class="flex flex-col gap-10 text-center my-10">
      <h2 class="text-2xl">TODO: Put some useful info or analytics here</h2>
      <p>For now, the options in the sidebar have what you need</p>
    </div>
  </div>
</div>
