<.old_header>
  New Media profile
  <:subtitle>Use this form to manage media_profile records in your database.</:subtitle>
</.old_header>

<.media_profile_form changeset={@changeset} action={~p"/media_profiles"} />

<.back navigate={~p"/media_profiles"}>Back to media_profiles</.back>
