<.old_header>
  Media profile <%= @media_profile.id %>
  <:subtitle>This is a media_profile record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/media_profiles/#{@media_profile}/edit"}>
      <.button>Edit media_profile</.button>
    </.link>
  </:actions>
</.old_header>

<.list_items_from_map map={Map.from_struct(@media_profile)} />

<.back navigate={~p"/media_profiles"}>Back to media_profiles</.back>
