<.table rows={@sources} table_class="text-white">
  <:col :let={source} label="Name" sort_key="custom_name">
    <.subtle_link href={~p"/sources/#{source.id}"}>
      {source.custom_name}
    </.subtle_link>
  </:col>
  <:col :let={source} label="Downloaded" sort_key="downloaded_count">
    <.subtle_link href={~p"/sources/#{source.id}/#tab-downloaded"}>
      <.localized_number number={source.downloaded_count} />
    </.subtle_link>
  </:col>
</.table>
