<.old_header>
  Edit Source <%= @source.id %>
  <:subtitle>Use this form to manage source records in your database.</:subtitle>
</.old_header>

<.source_form
  changeset={@changeset}
  media_profiles={@media_profiles}
  action={~p"/media_sources/sources/#{@source}"}
/>

<.back navigate={~p"/media_sources/sources"}>Back to sources</.back>
