name: Perform linting and run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    env:
      COMPOSE_FILE: ./docker-compose.ci.yml
      MIX_ENV: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Pull prebuilt images
        run: docker compose pull

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/dev.Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Run Docker image
        run: docker compose up --detach

      # NOTE: All exec commands use the -T flag to compensate for
      # a bug in the GitHub Actions runner where its stdin/stderr
      # will erroneously report that it's a TTY.
      # Aside from handling this bug the -T flag is not required
      # See https://github.com/actions/runner/issues/241 and https://github.com/docker/compose/issues/8537
      - name: Install Elixir and JS deps
        run: |
          docker compose exec -T phx mix deps.get && yarn install && cd assets && yarn install && cd ..

      - name: Create and Migrate database
        run: |
          docker compose exec -T phx mix ecto.create
          docker compose exec -T phx mix ecto.migrate

      - name: Run code checks
        run: docker compose exec -T phx mix check --no-fix --no-retry

      - name: Shut down Docker containers
        run: docker compose down
