<div class="flex h-screen overflow-hidden">
  <.sidebar />

  <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
    <.header />
    <main>
      <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </main>
  </div>
</div>
